.custom-button{
    height: 50px;
    padding: 0 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;
    background-color:inherit;
}

.custom-button:hover{
    background-color: black;
    color: white;
    cursor: pointer;
}