.stopwatch-container{
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.stopwatch-container__value{
    font-size: 75px;
}

.stopwatch-container__button-panel{
    width: 50vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
}
